@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Inter", sans-serif;
}
.active {
  border-radius: none;
  border-bottom: 2px solid #9f62f2;
  color: #9f62f2;
  font-weight: 500;
}
